<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BookEntities" connectionString="metadata=res://*/Books.csdl|res://*/Books.ssdl|res://*/Books.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=BEN-DESKTOP\SQLEXPRESS;Initial Catalog=TestDB;Integrated Security=True;Pooling=False;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>