@{
    ViewBag.Title = "Home Page";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Web API security sample.</h1>
            </hgroup>
        </div>
    </section>
}