@{
    ViewBag.Title = "Успех!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Регистрация на сайте прошла успешно!</h2>
<p>
    Теперь вы можете выполнить @Html.ActionLink("вход на сайт", "Index", "Home")
</p>
