<?xml version="1.0" encoding="utf-8" ?>
<root>
  <CommonObjects>
    <SenderMessageType>//BothDB/2InstSample/RequestMessage</SenderMessageType>
    <ReceiverMessageType>//BothDB/2InstSample/ReplyMessage</ReceiverMessageType>
    <Contract>//BothDB/2InstSample/SimpleContract</Contract>
    <SbLogin>SbLogin</SbLogin>
    <StartDate>01/01/2018</StartDate>
    <ExpiryDate>01/01/2019</ExpiryDate>
  <CertificatePath>C:\Documents and Settings\Santhi\Desktop\Service Broker\Session\</CertificatePath>
  </CommonObjects>

  <Initiator ServerAddress="192.168.1.11" Port="1434">
    <Database Name="InitiatorDb">
      <MasterKey>45Gme*3^fwu</MasterKey>
      <User Name="InitiatorDatabaseUser">
        <Certificate Subject="Initiator.Server.Local">InitiatorDatabaseUserCertificate</Certificate>
      </User>
    </Database>
    <Queue>InitiatorQueue</Queue>
    <Service>//AWDB/InternalAct/InitiatorService</Service>
    <EndPoint Port="4022" Authentication="CERTIFICATE" Name="InstInitiatorEndpoint">
      <MasterKey>45Gme*3^fwu</MasterKey>
      <Certificate Subject="Initiator.Server.Local" >EndPointInitiatorCertificate</Certificate>
    </EndPoint>
    <Route>InitiatorRoute</Route>
  </Initiator>

  <Target  ServerAddress="192.168.1.12" Port="1434">
    <Database Name="TargetDb">
      <MasterKey>45Gme*3^fwu</MasterKey>
      <User Name="TargetDatabaseUser">
        <Certificate Subject="Target.Server.Local">TargetDatabaseUserCertificate</Certificate>
      </User>
    </Database>
    <Queue>TargetQueue</Queue>
    <Service>//AWDB/InternalAct/TargetService</Service>
    <EndPoint Port="4022" Authentication="CERTIFICATE" Name="InstTargetEndpoint">
      <MasterKey>45Gme*3^fwu</MasterKey>
      <Certificate Subject="Target.Server.Local">EndPointTargetCertificate</Certificate>
    </EndPoint>
    <Route>TargetRoute</Route>
  </Target>
  
</root>