<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.diagnostics>
        <sources>
            <source name="System.ServiceModel.MessageLogging" switchValue="Предупреждение,ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelMessageLoggingListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
            <source propagateActivity="true" name="System.ServiceModel" switchValue="Предупреждение,ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelTraceListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add initializeData="c:\users\elkrot\source\repos\wcfservicelibrary\carhost\app_messages.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp, ProcessId, ThreadId">
                <filter type="" />
            </add>
            <add initializeData="c:\users\elkrot\source\repos\wcfservicelibrary\carhost\app_tracelog.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
        </sharedListeners>
    </system.diagnostics>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="fileCar" value="C:/Users/elkrot/source/repos/WcfServiceLibrary/cars.xml"/>
  </appSettings>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true"
        logMessagesAtTransportLevel="true" />
    </diagnostics>
    <services>
     <service name="CarService.CarService" behaviorConfiguration="mexBehavior">
      <endpoint address="CarService_Http_Binding" binding="basicHttpBinding" contract="CarService.ICarService"/>
       <host>
         <baseAddresses>
           <add baseAddress="http://localhost:8080/"/>
         </baseAddresses>
       </host>
    </service>     
      
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        <errorHandlerConfig handlerType="CarService.MainErrorHandler, CarService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"></errorHandlerConfig>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  
<extensions>
  <behaviorExtensions>
    <add name="errorHandlerConfig" type="CarService.ErrorHandlerConfigElement, CarService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </behaviorExtensions>
</extensions>
  </system.serviceModel>
</configuration>